
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/sipl.iml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
.idea/dataSources/159c0547-57b7-4fbe-b765-ea1e0bcc03ab.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources.xml
.idea/dataSources.xml
.idea/dataSources.xml

*.DS_Store
application/.DS_Store

.DS_Store

*.xml

application/.DS_Store

assets/.DS_Store

assets/layout/.DS_Store

assets/.DS_Store

application/.DS_Store

application/.DS_Store
.DS_Store
